<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.springstudy.springmvc.chap05.mapper.ReactionMapper">

    <insert id="insertViewLog">
        INSERT INTO tbl_reaction
        (board_no, account, reaction_type, reaction_date)
        VALUES
        (#{boardNo}, #{account}, #{reactionType}, #{reactionDate})
    </insert>

    <update id="updateViewLog">
        UPDATE tbl_reaction
        SET reaction_date = #{reactionDate}
        WHERE account = #{account}
        AND board_no = #{boardNo}
    </update>

    <select id="findOne" resultType="reaction">
        SELECT *
        FROM tbl_reaction
        WHERE account = #{account}
        AND board_no = #{boardNo}
    </select>

</mapper>